@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
    url('../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-light-webfont.woff2') format('woff2'),
    url('../fonts/raleway-light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
    url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-color: #24BA9F; /*  var(--main-color)  */
    --2nd-color: #cbcad2; /*  var(--2nd-color)  */
}

* {
    font-family: raleway, arial, sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

strong {
    color: var(--main-color);
    font-weight: 900;
}

/***************** mainMenu style *****************/
header {
    background: #000;
    width: 100vw;
    height: 50px;
    z-index: 2;
}

.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
}

.mainLogo {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.mainLogo a:link,
.mainLogo a:visited {
    color: #fff;
    text-decoration: none;
}

.mainLogo a:hover {
    color: var(--main-color);
}

.mainMenu {
    width: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
}

.mainMenu__item {
    position: relative;
    width: 110px;
    height: 50px;
    text-align: center;
    z-index: 20;
}

.mainMenu__item a {
    display: block;
    position: relative;
    height: 50px;
    padding: 15px 0;

    z-index: 20;
    background: black;
}

.mainMenu__item a:link,
.mainMenu__item a:visited {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.mainMenu__item a:hover {
    color: var(--main-color);
}

.mainMenu__item:hover > .subMenu {
    top: 65px;
}

/***************** subMenu style *****************/
.subMenu {
    position: absolute;
    top: -80px;
    left: -20px;
    background: #000;
    width: 150px;
    z-index: 10;
    transition: .5s;
}

.subMenu:after {
    display: block;
    content: '';
    position: absolute;
    width: 150px;
    height: 30px;
    background: #F00;
    left: 0;
    top: -30px;
    opacity: 0;
}

.subMenu:before {
    display: block;
    content: '';
    background: #000;
    width: 16px;
    height: 16px;
    transform: rotate(45deg);
    position: absolute;
    z-index: -1;
    top: -8px;
    left: calc(50% - 8px);
}

.subMenu__item {
    position: relative;
    z-index: 10;
    margin: 3px 0;
}

.subMenu__item a {
    position: relative;
    z-index: 10;
    background: black;
    height: 30px;
    padding: 5px 0;
}

.subMenu__item a:link {
    color: white;
    text-decoration: none;

}

/***************** main style *****************/


/***************** main->slider style *****************/
.slider {
    height: 500px;
    width: 100vw;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,cbcad2+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #cbcad2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%, #cbcad2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%, #cbcad2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cbcad2', GradientType=0); /* IE6-9 */
}

.sliderWrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 100%;
    position: relative;
}

.arrow {
    position: absolute;
    left: 12px;
    top: 250px;
    transform: scale(5);
}

.arrow:hover {
    cursor: pointer;
    /* text-shadow: 0 1px 3px var(--main-color); */
    text-shadow: 0 1px 3px #000;
}

.arrow:last-child {
    left: 1180px;
}

.sliderImg {
    height: 450px;
}

.sliderImg img {
    min-width: 100%;
    min-height: 100%;
}

.sliderContent {
    width: 40%;
    height: 380px;
}

.sliderContent__title {
    display: block;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.sliderContent p {
    display: block;
    margin: 20px 0;
    text-align: center;
    line-height: 25px;
}

.btnSlider {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 50px;
    color: white;
    background: var(--main-color);
    border-radius: 10px;
    padding: 13px 0;
    font-weight: bold;
    transition: .3s linear;
}

.sliderContent a:link,
.sliderContent a:visited {
    text-align: center;
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.sliderContent a:hover {
    cursor: pointer;
    box-shadow: 0 0 20px black;
}

/***************  advertWrapper  ******************/
.advertWrapper {
    display: flex;
    justify-content: space-between;
    margin: 20px auto 40px auto;
}

.advert {
    position: relative;
    width: 30%;
    height: 250px;
}

.advert img {
    height: 100%;
}

.advert a:link,
.advert a:visited {
    color: black;
    font-weight: 700;
}

.advertDescription {
    position: absolute;
    bottom: 20px;
    height: 50px;
    width: 100%;
    background: #eee;
    line-height: 30px;
}

.advertDescription h4 {
    margin: 0 20px;
    width: 40%;
    border-bottom: 10px solid var(--main-color);
    font-weight: bold;
    transition: .5s;
}

.advert:hover .advertDescription h4 {
    width: 90%;
}

.advertInformation {
    height: 100%;
    width: 100%;
    border: 1px solid var(--2nd-color);
    padding: 25px 20px;
}

.advertInformation h4 {
    width: 40%;
    border-bottom: 10px solid var(--main-color);
    font-weight: bold;
    transition: .5s;
    margin-bottom: 10px;
}

.advertInformation p {
    margin-bottom: 20px;
    line-height: 20px;
    color: #777;
}

/*****************  section with offer ********************/

.offers {
    background: #eee;
    width: 100%;
    height: 730px;
}

.offersWrapper {
    display: flex;
    flex-direction: column;
}

.offersWrapper h2 {
    font-size: 30px;
    text-transform: uppercase;
    border-bottom: 10px solid var(--main-color);
    display: block;
    width: 300px;
    margin-top: 30px;
}

.offersPlans {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.offersPlans__item {
    width: 30%;
    background: #ffffff;
    height: 500px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    border: 2px solid var(--2nd-color);
}

.offersPlans__item:before {
    position: absolute;
    content: '';
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background: #fff;
    top: -45px;
    left: calc(50% - 30px);
    border: 2px solid var(--2nd-color);
}

.offersPlans__item:after {
    position: absolute;
    content: '';
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: var(--2nd-color);
    top: -30px;
    left: calc(50% - 15px);
}

.offersPlans__item h3 {
    display: block;
    width: 100%;
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    margin: 20px auto;
    font-size: 25px;
    font-weight: normal;
}

.offersPlans__itemPrice {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background: #fff;
    color: var(--2nd-color);
    border: 2px solid var(--2nd-color);
    position: relative;
    margin-bottom: 40px;
}

.offersPlans__itemPriceMain {
    position: absolute;
    left: calc(50% - 30px);
    top: 15px;
    font-size: 45px;
    font-weight: bold;
    line-height: 55px;
}

.offersPlans__itemPriceRest {
    position: absolute;
    right: 20px;
    top: 15px;
    line-height: 20px;
}

.offersPlans__itemPriceDisc {
    position: absolute;
    bottom: 25px;
    left: 20px;
    font-weight: bold;
}

.offersPlans__item:last-of-type .offersPlans__itemPriceMain {
    left: 15px;
}

.offersPlans__itemFeature {
    width: 100%;
    height: 45px;
    background: #eee;
    font-size: 25px;
    padding: 5px;
    text-align: center;
    color: #777;
}

.offersPlans__itemFeature:nth-of-type(2n) {
    background: #ddd;
}

.btnOffers {
    position: absolute;
    bottom: 15px;
    width: 125px;
    height: 35px;
    text-transform: uppercase;
    background: var(--main-color);
    border: none;
    color: #fff;
    border-radius: 10px;
}

.offersPlans__itemPrice--active {
    border: 2px solid var(--main-color);
    background: var(--main-color);
}

.offersPlans__itemPrice--active h3 {
    color: #fff;
}

.offersPlans__itemPrice--active .btnOffers {
    background: #fff;
    color: var(--main-color);
}

.offersPlans__itemPrice--active:before {
    border: 2px solid var(--main-color);
    background: var(--main-color);
}

.offersPlans__itemPrice--active:after {
    background: #fff;
}

.offersPlans__itemPrice--active .offersPlans__itemPrice {
    color: var(--main-color);
}