@font-face {
    font-family: 'raleway';
    src: url('../../fonts/raleway-bold-webfont.woff2') format('woff2'),
    url('../../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../../fonts/raleway-light-webfont.woff2') format('woff2'),
    url('../../fonts/raleway-light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../../fonts/raleway-regular-webfont.woff2') format('woff2'),
    url('../../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
$mainColor: #24BA9F;
$secondColor: #cbcad2;


* {
    font-family: raleway, arial, sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

strong {
    color: $mainColor;
    font-weight: 900;
}